<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.connect">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- adding read external storage permission -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_ikona_app_official"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_ikona_app_official"
        android:supportsRtl="true"
        android:theme="@style/Theme.Instugram"
        android:fullBackupContent="false"
        tools:ignore="GoogleAppIndexingWarning"
        android:dataExtractionRules="@xml/data_extraction_rules"
        tools:targetApi="s">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activity.MapsActivity"
            android:exported="true"
            android:label="@string/title_activity_maps"/>
        <activity
            android:name=".activity.EditPostActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MessageActivity"
            android:parentActivityName=".activity.MainActivity"
            android:exported="false" />
        <service android:name=".firebase.FirebaseServices"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <activity
            android:name=".activity.LogRegActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="fullUser"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:screenOrientation="fullUser" />
    </application>

</manifest>